{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>

    <title>Symptom Tracker</title>
  </head>

  <body>

      <ul class="navigation">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="/report/">Report a Sickness</a></li>

          {% if session %}
          <li style="float: right" ><a class="fas fa-user-alt" href="{% url 'logout' %}"> Logout</a></li>
          {% else %}
          <li style="float: right" ><a class="fas fa-user-alt" href="{% url 'login' %}"> Login</a></li>
          {% endif %}
      </ul>

      <div>
          <h1>Symptom Tracker 👍👍👍</h1>
      </div>

      <div>
          <table class="tableContainer center">
              <tbody>
                  <tr>
                    <td>
                        <div>
                            <img src="{% static 'buildings/kardon.png' %}">
                            <div class="centeredInImage">Kardon</div>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img src="{% static 'buildings/atlantic.png' %}">
                            <div class="centeredInImage">Atlantic Terminal</div>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img src="{% static 'buildings/university.png' %}">
                            <div class="centeredInImage">University Village</div>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img src="{% static 'buildings/james_s_white.png' %}">
                            <div class="centeredInImage">White Hall</div>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <div>
                            <img src="{% static 'buildings/j_h.png' %}">
                            <div class="centeredInImage">J&H</div>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img src="{% static 'buildings/nineteen_forty.png' %}">
                            <div class="centeredInImage">1940</div>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img src="{% static 'buildings/conwell.png' %}">
                            <div class="centeredInImage">Conwell</div>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img src="{% static 'buildings/beech.png' %}">
                            <div class="centeredInImage">Beech International</div>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <div>
                            <img src="{% static 'buildings/edge.png' %}">
                            <div class="centeredInImage">The Edge</div>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img src="{% static 'buildings/morgan_hall.png' %}">
                            <div class="centeredInImage">Morgan Hall</div>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img src="{% static 'buildings/oxford_village.png' %}">
                            <div class="centeredInImage">Oxford Village</div>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img src="{% static 'buildings/thirteen.png' %}">
                            <div class="centeredInImage">1300</div>
                        </div>
                    </td>
                  </tr>
                  <tr >
                    <td colspan="1">
                        <div>
                            <img src="{% static 'buildings/temple.towers.png' %}">
                            <div class="centeredInImage">Temple Towers</div>
                        </div>
                    </td>
                  </tr>
              </tbody>
          </table>
      </div>
      
      <div class="center">
          <a href="report.html">Report Symptoms</a>
      </div>
  </body>
</html>