{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <script src="{% static 'js/report.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>

        <style>
            #notDiagnosed{
                display: none;
            }
            #hallQuestion{
                display: none;
            }
            #finalSubmit{
                display: none;
            }
        </style>
        <title>Symptom Tracker</title>
    </head>
    <body>
        <ul class="navigation">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li class="active"><a href="#">Report a Sickness</a></li>
            {% if session %}
            <li style="float: right" ><a class="fas fa-user-alt" href="{% url 'logout' %}"> Logout</a></li>
            {% else %}
            <li style="float: right" ><a class="fas fa-user-alt" href="{% url 'login' %}"> Login</a></li>
            {% endif %}
        </ul>

        <div>
            <div id="diagnosedForm">
                <div id="diagnosed">
                    <label for="diagnosed">Are you diagnosed with...</label>
                    <select name="diagnosed">
                        <option>I haven't been diagnosed with anything recently</option>
                        <option>COVID 19</option>
                        <option>Common Cold</option>
                        <option>Stomach Bug</option>
                    </select>
                    <button onclick="onDiagnosedSubmit()">Submit</button>
                </div>
                <div>
            </div>
            <form id="post">
                {% csrf_token %}
                <div id="hallQuestion">
                    <label for="hall">Where do you live?</label>
                    <select name="hall">
                        <option value="kardon">Kardon</option>
                        <option value="atlantic">Atlantic Terminal</option>
                        <option value="university">University Village</option>
                        <option value="hames_s_white">White Hall</option>
                        <option value="j_h">J&H</option>
                        <option value="nineteen_forty">1940</option>
                        <option value="conwell">Conwell</option>
                        <option value="beech">Beech International</option>
                        <option value="edge">The Edge</option>
                        <option value="morgan_hall">Morgan Hall</option>
                        <option value="oxford_village">Oxford Village</option>
                        <option value="thirteen">1300</option>
                        <option value="temple.towers">Temple Towers</option>
                    </select>
                </div>
                <hr>
                <div id="notDiagnosed">
                    <div>
                        <label for="cough">Cough</label>
                        <input type="checkbox" id="" name="cough">
                    </div>
                    <div>
                        <label for="fever">Fever</label>
                        <input type="checkbox" id="" name="fever">
                    </div>
                    <div>
                        <label for="chills">Chills</label>
                        <input type="checkbox" id="" name="chills">
                    </div>
                    <div>
                        <label for="smell">No Smell</label>
                        <input type="checkbox" id="" name="smell">
                    </div>
                    <div>
                        <label for="fatigue">Fatigue</label>
                        <input type="checkbox" id="" name="fatigue">
                    </div>
                    <div>
                        <label for="vomit">Vomit</label>
                        <input type="checkbox" id="" name="vomit">
                    </div>
                    <div>
                        <label for="nausea">Nausea</label>
                        <input type="checkbox" id="" name="nausea">
                    </div>
                    <div>
                        <label for="stomach">Stomach Ache</label>
                        <input type="checkbox" id="" name="stomach">
                    </div>
                    <div>
                        <label for="diarrhea">No Taste</label>
                        <input type="checkbox" id="" name="diarrhea">
                    </div>
                    <div>
                        <label for="nose">Runny Nose</label>
                        <input type="checkbox" id="" name="nose">
                    </div>
                    <div>
                        <label for="taste">Sore Throat</label>
                        <input type="checkbox" id="" name="taste">
                    </div>
                    <hr>
                    <div>
                        <label for="smoke">Have you smoked recently?</label>
                        <input type="checkbox" id="" name="smoke">
                    </div>
                    <div>
                        <label for="drink">Have you drank recently?</label>
                        <input type="checkbox" id="" name="drink">
                    </div>
                    <div>
                        <label for="sick">Have you been around a sick person recently?</label>
                        <input type="checkbox" id="" name="sick">
                    </div>
                    <hr>    
                    
                </div>
                <div id="finalSubmit">
                    <button onclick="console.log(document.getElementById('post'))">Submit</button>
                </div>
            </form>
        </div>
    </body>

</html>