.center{
    width: 50%;
    margin: auto;
}

p, h1, div{
    text-align: center
}

body{
    margin: 0;
}

img{
    max-height: 250px;
    max-width: 250px;
}

td{
    border: 1px solid black;
}

.navigation{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;
    background-color: #2a2a2a;
    padding: 0;
    overflow: hidden;
    margin-bottom: 10px;
}

.navigation li{
    float: left;
}

.navigation li a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-align: center;
    text-decoration: none;
}

.active{
    background-color: #1aaa1a
}

.navigation li:hover:not(.active){
    background-color: #5a5a5a
}